/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* common */
html {
  font-size: 100%;
  scroll-padding-top: 64px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.sec-title {
  font-size: 1.2rem;
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 64px;
  text-align: center;
}

/* header */
header {
  width: 100%;
  display: flex;
  height: 64px;
  margin: 0 auto;
  background-color: white;
  position: fixed;
  align-items: center;
  padding: 0 4%;
  justify-content: space-between;
  z-index: 2;
  top: 0;
}
header h1 img {
  display: inline;
  width: 120px;
  font-size: 0;
}
header .material-icons-outlined {
  margin-top: 12px;
  font-size: 2rem;
  cursor: pointer;
}

header #open.hide {
  display: none;
}

/* overlay menu */
.black-area {
  width: 50%;
  background-color: black;
  height: 100vh;
  padding-top: 20px;
}

.overlay {
  position: fixed;
  color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  z-index: 10;
  cursor: pointer;
}
.overlay .menu,
.overlay .social {
  padding: 0 24px;
}
.overlay .menu {
  margin: 40px 0 56px;
}
.overlay .menu li {
  padding: 24px 0;
  border-top: 1px solid white;
}
.overlay .menu li:last-child {
  border-bottom: 1px solid white;
}
.overlay .social li {
  margin-bottom: 16px;
}

.overlay li {
  opacity: 0;
  transform: translateX(-64px);
  transition: opacity 0.5s, transform 0.5s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay #close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 32px;
  cursor: pointer;
  color: white;
}

/* movie */
video {
  width: 100%;
  height: auto;
  display: block;
  margin: 64px auto 0;
}

/* pickup */
#pickup .sec-title {
  margin-bottom: 16px;
}

.glide__slides {
  z-index: 1;
}
.glide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.glide__slide img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

/* feature */
#feature .sec-title {
  margin-bottom: 32px;
}

.container {
  width: 1000px;
  max-width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 360px 360px 360px;
  gap: 32px 24px;
}
.container img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.3s, transform 0.3s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.glid-box {
  box-shadow: 0 0 16px silver;
}
.glid-box .box-text {
  padding: 32px 24px;
  width: 100%;
}
.glid-box .box-text span {
  display: inline-block;
  margin-bottom: 18px;
  font-size: 0.8rem;
}
.glid-box .box-text p {
  margin-bottom: 18px;
  font-size: 0.85rem;
}
.glid-box .box-text time {
  font-size: 0.8rem;
  display: block;
  text-align: right;
}

/* footer */
footer {
  background: #333;
  color: #fff;
}
footer .sec-title {
  padding: 32px;
}
footer .wrapper {
  max-width: 100%;
  width: 1000px;
  font-size: 0.65rem;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 48px;
}
footer .wrapper .contact-text {
  width: 48%;
}
footer .wrapper .contact-text p {
  margin-bottom: 24px;
  line-height: 1.7;
}

.form {
  flex: 1;
}
.form dt {
  margin-bottom: 2px;
}
.form input,
.form textarea {
  width: 100%;
  background-color: #fff;
  justify-content: flex-start;
  margin-bottom: 16px;
  padding: 6px;
  caret-color: gray;
}
.form textarea {
  padding: 10px;
  line-height: 1.5;
  height: 6em;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  padding: 8px 40px;
}

small {
  display: block;
  text-align: center;
  font-size: 0.6rem;
  padding-bottom: 32px;
}

/* sp1-width:768px */
@media (max-width: 768px) {
  html {
    scroll-padding-top: 64px;
  }
  body {
    font-size: 0.8rem;
  }
  /* header */
  .overlay nav {
    font-size: 0.6rem;
  }
  .overlay .menu,
  .overlay .social {
    padding: 0 12px;
    margin-top: 0;
  }
  .overlay .menu {
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .overlay .menu li {
    padding: 12px 0;
  }
  .overlay .social li {
    margin-bottom: 10px;
  }
  .overlay #close {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 20px;
  }
  /* movie */
  video {
    width: 100%;
  }
  /* pickup */
  .glide__slide {
    height: 136px;
    max-height: auto;
    aspect-ratio: 1;
  }
  .glide__slide img {
    height: 116px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* feature */
  .container {
    grid-template-columns: 48% 48%;
    grid-template-rows: 300px 300px 300px 300px 300px;
    gap: 24px 16px;
  }
  .glid-box .box-text {
    padding: 24px;
  }
}
/* sp2-width:375px */
@media (max-width: 375px) {
  /* pickup */
  .glide__slide img {
    width: 280px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* feature */
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 320px 320px 320px 320px 320px 320px 320px 320px 320px;
    background-color: white;
  }
  .container img {
    width: 100%;
  }
  /* footer */
  footer .sec-title {
    display: block;
    padding-top: 56px;
  }
  footer .wrapper {
    display: block;
  }
  footer .wrapper .contact-text {
    width: 100%;
  }
  footer .wrapper .contact-text p {
    margin-bottom: 24px;
    line-height: 1.7;
  }
  footer .wrapper .btn {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */
